#showcase {
    margin-left: 210px;
    padding: 0;
}
.sidebar {    
    min-width: 210px;
    text-align: center;
  }

.navbar {
    position: relative;
    margin: 0 15%;
    text-align: center;
    top: 40%;
    width: 200px;
    margin: auto;
    transform: translateY(-50%);
    font-weight: bold;
  }
.navbar-menu {
    width: 180px;
    margin: auto;
  }
.navbar-social {
    display: inline-block;
  }
  i.fas,
  i.fab {
  font-size: 1rem;
}
.sidebar ul li {
    padding: 0.9rem;
  }
.navbar h1 {
    font-family: 'Poiret One', cursive;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    padding: 0.1rem;
    font-size: 1.2rem;
  }

.sidebar a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.footer {
  padding-bottom: 0.6rem;
  width: 200px;
  min-width: 200px;
}
@media (min-width:780px) {
  .header {
      display: none;
  }
}



/* IMG size
max 314px
min 162  #334B48*/