.sidebar {
    display: none;
}
#nav-hid {
    display: inline-block;
    background-color: #34ABB3;
    width: 100%;
    height: 80px;
}
.nav-hid.cont {
    background-color: #34ABB3;
}
#main .nav-hid-logo {
    float: left;
    display: block;
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
    padding: 2rem 1rem 0 1rem;
}
#nav-hid .nav-hid.cont ul {
    position: relative;
    top: 3rem;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
#nav-hid ul a {
    display: block;
    padding: 20px;
}
.nav-hid.cont {
    position: relative;
    top: 3rem;
}
.active {
    color: #333;
}

#showcase {
    position: relative;
    top: 5rem;
    margin: 0;
    padding: 0;
}
#showcase .show-cont {
    width: 100%;
}
#showcase .show-cont img{
    max-width: 100vw;
    min-width: 100vw;
    width: 100%;
    height: auto;
    padding: 1rem;
}
/* Bio */

  .first-block {
    max-width: 100%;
    padding: 2rem 1rem 1rem 1rem;
    text-align: justify;
  }
  .show-cont-bio .bio-top-img {
    width: 100%;
    height: auto;
  }
  .show-cont-bio .bio-top-p {
    border-bottom: #34ABB3 solid 2px;
    border-left: #34ABB3 solid 2px;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1;
    line-height: 1.2;
  }
  .second-block {
    max-width: 100%;
    padding: 2rem 1rem 1rem 1rem;
    text-align: justify;
  }
  .show-cont-bio .bio-bottom-img {
    width: 100%;
    height: auto;
  }
  .show-cont-bio .bio-bottom-p {
    border-top: #34ABB3 solid 2px;
    border-right: #34ABB3 solid 2px;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1;
    line-height: 1.2;
  }

  /* contact */
.contact-form {
    padding-top: 2rem;  
  }
  .contact-form p {
    font-size: 0.9rem;
    padding: 1.1rem;
  }
  .contact-form h2 {
    font-size: 1.4rem;
  }
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #025358;
  }
  textarea {
    max-width: 260px;
    max-height: 160px;
    background: #F5F5F5;
    padding: 0.4rem;
    border: 2px solid #025358;
  }
  .submit {
    border: 2px solid #025358;
    padding: 0.3rem;
  }
/* Footer */
.footer-nav {
    
    color: white;
    font-size: 0.7rem;
    padding-bottom: 0.4rem;
    text-align: center;
}
.footer-nav p {
    text-align: center;
    margin: auto;
}

@media (min-width:568px) {
    .sidebar  {
        display: none;
    }
}
