@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poiret+One&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poiret One', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body, html {
    background-color: #F5F5F5;
    font-family: 'Poiret One', cursive;
    list-style: none;
}
#showcase {
    padding-left: 282px;
    text-align: center;
    max-width: 1400px;
    margin: auto;
}
#showcase .show-cont {
    width: 100%;
    margin: auto;
}
#showcase .show-cont img{
    max-width: 314px;
    min-width: 180px;
    width: 20vw;
    height: auto;
    padding: 1.2rem;
}
.sidebar {
    position: fixed;
    z-index: 1;
    width: 20%;
    min-width: 282px;
    max-width: 282px;
    height: 100vh;
    background: #34ABB3;
    text-align: center;
  }
  .navbar .active a {
    color: #333;
  }
.navbar {
    position: relative;
    margin: 0 15%;
    text-align: center;
    top: 20%;
    font-weight: bold;
  }
  .navbar a:hover {
    color: #333;
    transition: all 0.3s ease-in-out;
  }
.navbar-social {
    display: inline-block;
  }

.navbar h1 {
    font-family: 'Poiret One', cursive;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    padding: 0.6rem;
  }
.surname {
    border-bottom: 1px solid white;
  }
.navbar ul {
    list-style: none;  
    text-decoration: none;  
}
#nav-hid {
  display: none;
}
i.fas,
  i.fab {
  font-size: 1.2rem;
}
.sidebar ul li {
  display: inline-block;
  word-spacing: 1.5rem;
  padding: 1.2rem;
}
.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;

}
.footer {
  position: fixed;
  bottom: 0;
  color: white;
  width: 20%;
  min-width: 282px;
  font-size: 0.7rem;
  margin: auto;
  text-align: center;
  padding-bottom: 0.6rem;
}
.footer p {
  text-align: center;
  margin: auto;
}
@media (min-width:568px) {
  .header {
      display: none;
  }
}


/* IMG size
max 314px
min 162  #334B48*/