@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poiret+One&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poiret One', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body, html {
    background-color: #F5F5F5;
    font-family: 'Poiret One', cursive;
    list-style: none;
}
#showcase {
    padding-left: 282px;
    text-align: center;
    max-width: 1400px;
    margin: auto;
}
#showcase .show-cont {
    width: 100%;
    margin: auto;
    padding: 1rem 0 2rem 0;
}
.img-box {
  display: inline-block;
}
.price {
  color: firebrick;
  font-weight: 600;
}
#showcase .show-cont img{
    max-width: 314px;
    min-width: 180px;
    width: 20vw;
    height: auto;
    padding: 1.2rem 1.2rem 0.6rem 1.2rem;
}
.sidebar {
    position: fixed;
    z-index: 1;
    width: 20%;
    min-width: 302px;
    max-width: 302px;
    height: 100vh;
    background: #34ABB3;
    text-align: center;
  }
  .navbar .active a {
    color: #025358;
  }
.navbar {
    position: relative;
    margin: 0 15%;
    text-align: center;
    top: 20%;
    font-weight: bold;
    width: 100%;
    margin: auto;
  }
  .navbar a:hover {
    color: #333;
    transition: all 0.4s ease-in;
  }
.navbar .icon {
  border-radius: 90px;
  border: 6px solid #0297a1;
}
.navbar-social {
    display: inline-block;
  }
.navbar-menu {
  width: 280px;
}

.navbar h1 {
    font-family: 'Poiret One', cursive;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding: 0.6rem;
  }
.surname {
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
  }
.navbar ul {
    list-style: none;  
    text-decoration: none;  
}
#nav-hid {
  display: none;
}
i.fas,
  i.fab {
  font-size: 1.2rem;
}
.sidebar ul li {
  display: inline-block;
  word-spacing: 1.5rem;
  padding: 1.2rem;
}
.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

/* Bio */
#showcase .show-cont-bio {
  width: 100%;
  margin: auto;
  padding: 1rem 0 2rem 0;
}
.first-block {
  max-width: 80%;
  height: auto;
  margin: auto;
  padding: 6rem 2rem 2rem 2rem;
  text-align: justify;
}
.show-cont-bio .bio-top-img {
  float: left;
  position: relative;
  top: -1rem;
  width: 300px;
  height: 300px;
  padding: 1rem;
}
.show-cont-bio .bio-top-p {
  border-bottom: #34ABB3 solid 2px;
  border-left: #34ABB3 solid 2px;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.4;
}
.second-block {
  max-width: 80%;
  height: auto;
  margin: auto;
  padding: 2rem 2rem 2rem 2rem;
  text-align: justify;
}
.show-cont-bio .bio-bottom-img {
  float: right;

  position: relative;
  top: 1rem;
  width: 300px;
  height: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.show-cont-bio .bio-bottom-p {
  border-top: #34ABB3 solid 2px;
  border-right: #34ABB3 solid 2px;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.4;
}
.first-word {
  font-weight: 800;
  color: #34ABB3;
}

/* contact */
.contact-form {
  padding-top: 12rem;  
}
.contact-form p {
  color: #025358;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;
}
.contact-form h2 {
  color: #025358;
}
.contact-form u {
  text-decoration: none;
  color: #070707;
}
input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #025358;
}
textarea {
  background: #F5F5F5;
  padding: 1rem;
  border: 2px solid #025358;
}
.submit {
  border: 2px solid #025358;
  padding: 0.3rem;
}
/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  color: white;
  width: 282px;
  min-width: 282px;
  font-size: 0.7rem;
  margin: auto;
  text-align: center;
  padding-bottom: 0.6rem;
}
.footer p {
  text-align: center;
  margin: auto;
}
@media (min-width:598px) {
  .header {
      display: none;
  }
}


/* IMG size
max 314px
min 162  #334B48*/